/***************************/
/* User defined properties */
/*           R.Ma          */
/***************************/

/*User defined properties for HTML Tags*/
html{
  min-height:100%;
}
h4, h5, h6{
  text-align:center;
  margin-top:0px;
  padding:20px;
}
h1, h2, h3{
  padding:20px;
  font-size:1.25em;
  text-align:center;
}
body{
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
}
hr{
  border-top:1px solid #07248c;
}
footer{
  bottom:0px;
  left:0px;
  right:0px;
  height:30px;
  margin-bottom:0px;
  position:fixed;
  background-color:#99d1ff;
}
p{
  color:black;
  font-size:13px;
  font-weight:bold;
}
/*User defined properties for classes*/
.autoresize{
  resize:none;
}
.img-border{
  border:3px double black;
  width:275px;
  height:275px;
  margin:auto;
}
.content-container{
  background-color:rgba(230, 244, 255, 0.7);
  height:inherit;
  margin-bottom:40px;
}
.content-header{
  background-color:rgba(153, 209, 255, 0.7);
  height:inherit;
}
.mid-header{
  background-color:rgba(153, 209, 255, 0.7);
  height:inherit;
  margin-bottom:15px;
}
/*Bootstrap classes overwrite*/
.navbar-inverse, .navbar-collapse{
  background-color:rgba(0, 106, 193, 0.4);
  border-color:rgba(0, 106, 193, 0.4);
}
.control-label{
  text-align:center;
}
.navbar-nav>li>a.login{
  padding-top:7px;
}
.btn{
  border-radius:0px;
  margin-bottom:10px;
  font-size:0.80em;
}
.form-control{
  border-radius:0px;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color:black;
  font-size:17px;
}
